@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#load{
position: relative;
  height: 100vh;
  z-index: 30;
  padding: 2em;
  background-color:white;
}
#load img {
align-items:center;
  justify-content:center;
  margin:200px;
  margin-left:500px;
}
html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: rgb(19, 19, 19);
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}
body, .container{
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color:goldenrod;
}

a:hover {
  color:powderblue;
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}
.line-mf {
  width: 40px;
  height: 5px;
  background: linear-gradient(
    135deg,
    goldenrod 70%,
    rgb(255, 255, 255) 100%
  );
  margin: 0 auto;
}
/* header */

header {
  max-width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav-brand {
  width: 7rem;
}

nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
 
}

.line1, .line2, .line3{
  width: 8px;
  max-width: 100%;
  height: 3px;
  margin: 0.5rem 0;
  background: linear-gradient(
    135deg,
    goldenrod 70%,
    rgb(255, 255, 255) 100%
  );
}

.line2 {
  width: 5rem;

}
.menu{
  max-width: 100%;

}
.line3 {
  width: 1rem;
  
}

.burger-menu-icon {
  cursor: pointer;
  max-width: 100%;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color:black;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing:0.15rem;
}

.nav-link:hover {
  color: goldenrod;
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Landing Page */
.landing-page {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
        black,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./images/clement-h-95YRwf6CNw8-unsplash.jpg") center/cover no-repeat;
 
  position: relative;
  margin-bottom:2em;
}

.main-message {
  width: 100%;
  max-width: 60rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 30s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color:goldenrod;
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color:goldenrod;
  background: linear-gradient(
    to right,
    goldenrod 30%,
     rgb(248, 248, 246) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2rem;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn, .btn2 {
  margin: 0 0.6rem;
  border-radius: 0.8rem;
  color: #fafafa;
  padding: 2rem 2.5rem;
  display: inline-block;
  margin-top: 4rem;
  transition: background-color 650ms;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing:0.2rem;
  border:0.5px solid white;
}
.btn2{
  border:0.5px solid goldenrod;

}
.btn:hover, .btn2:hover {
  border:2px solid powderblue;
  color: #fafafa;
  padding: 2.2rem 2.7rem;
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 8rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: goldenrod;
  font-size: 4.5rem;
}

/* About */

.about {
  max-width:100% ;
  text-align:start;
  align-items: center;
  margin:10em;
   
}

.about .container {
   margin:3rem;
  align-items: center;
  max-width:100% ;
  margin-bottom: 15rem;  
  margin-top:20rem;
}

.about-img img {
  height: 12rem;
  width: auto;
  border-radius: 50%;
  margin:3rem;
  margin-left:20em;
  box-shadow:  -5px 5px 4px black;
}

.about-text-box {
  margin-left:10em;
  margin-top:10em;
  margin-bottom:10em;
  max-width: 100%;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.about-text-box p {
  max-width:100% ;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}


.ico-circle {
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 2;
  margin: 0 15px 0 0;
  box-shadow: -3px 1px 3px goldenrod;
}
.sb{margin: 2em;
width:30%;}

/* Services */

.services {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  max-width: 100%;
  margin:5em;
  margin-left:7rem;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;

}
.service-tiers{
  width: 100%;
  margin-top: 0;
  text-align: center;
  max-width:100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  
}
.tier-item
{ position: relative;
  text-align: start;
  width:30%;
  padding: 4em;
  box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.548);
  border-radius:4px;
  margin:0;
  margin-right:3rem;
  box-sizing: border-box;
  overflow: hidden; }


.tier-item i {
  font-size: 3.5rem;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
   goldenrod 30%,
  white 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

/* Projects */

.projects  {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}
.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
  filter: drop-shadow(2px 4px 8px rgba(0, 255, 255, 0.171));
}
#not{
  filter: none;
}
.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
   goldenrod 40%,
  white 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}




/*======================================
//--//-->   BLOG
======================================*/
.cards-wrapper{
  display: flex;
  justify-content: space-between;
}
.card-blog{
  margin:0 2rem;
}
@media(max-width:767px){
.card-blog .card-body {
  position: relative;
  margin: 2rem;
}}

.card-blog .card-category-box {
  text-align: center;
  line-height: 2.5rem;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 10px;
  overflow: hidden;
  background-color:goldenrod;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .1px;
  margin-bottom:0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: .6rem;
}

.card-blog .card-description {
  color:rgba(255, 255, 255, 0.686);
}

.card-blog .post-author {
  display: inline-block;
}
.post-author img{
border-radius: 50%;
}
.post-author{
  height:40px;
  width: 80px;
  margin: 2rem;
  opacity:70%;
}
.author{
  color: rgba(218, 165, 32, 0.5);
}
.card-blog .post-date {
  color: #4e4e4e;
  display: inline-block;
  float: right;
  margin:2rem;
}

.card-img .iconify{
  height: 150px;
  width: 150px;
}
.title-heading .iconify{
  color: goldenrod;
  font-size: 2rem;
}
#blog .title-heading {
  margin-top:10em;}
/*======================================
//--//-->   CONTACT
======================================*/

.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}

/*======================================
//--//-->   FOOTER
======================================*/

footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.699);
  padding-bottom: 4rem;
}

footer .copyright {
  margin-bottom: .3rem;
}

footer .credits {
  margin-bottom: 0;
}

footer .credits a {
  color: rgba(255, 255, 255, 0.836);
}

.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .card-blog {
    margin-bottom: 3rem;
  }
.mm
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 1rem;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 1.8rem;
  }

  .intro .intro-title {
    font-size: 4.5rem;
  }

  .intro .intro-subtitle {
    font-size: 2.5rem;
  }

  .intro-single .intro-title {
    font-size: 3.5rem;
  }


  .post-box,
  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }

  .blog-wrapper .article-title {
    font-size: 1.9rem;
  }

  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
}



@media (max-width: 768px) {
 
  .cards-wrapper{
    flex-direction: column;
  }
}


.Contact-text h2 {
  letter-spacing: 0em;
}

.why-text h2{
 font-size: 1.3rem;
 letter-spacing: 0.5rem;
}
/*RQF*//*////////////////////////*/
#btnn {
margin-top:1em;
border-radius: 10px;
font-weight:700;
padding: 0.7em;
font-size:1.3rem;
color: white;
border:none;
width:100%;
outline:none;
text-align: center;          
background-color:rgba(218, 165, 32, 0.767);
}

/**//*CONTACT US*/
.contact {
  width: 100%;
  min-height: 100vh;
  max-width:100%;
  margin: auto;
  width:90rem;
  padding-top: 5rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;

}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social h2{
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.664);
 width:5rem;

}
.contact-text {
width: 100%;
margin: 0 auto;
padding: 2em 0;
text-align: center;
background-color:black;

}
.contact-text h2 {
color: white;
line-height: 2em;
letter-spacing: 0.2em;
}
.us {
padding: 2em;
color: rgb(210, 141, 30);
}
.contact-wrapper {
overflow:hidden;
align-items: center;
align-content: center;
justify-content: center;
width: 100%;
display: flex;
margin:0;
 margin-left:5rem;
}

.Mail-home h2 {
color: goldenrod;
text-shadow:
             -2px -0.5px 2px rgb(10, 10, 10);
font-weight: 900;
margin-bottom: 2em;
}

.Mail-home {
box-sizing: border-box;
margin: 0 auto;
margin:2rem;
margin-top: 0;
text-align: center;
align-items: center;
align-content: center;
justify-content: center;
padding: 6em;
height:100%;
width:70%;
}
.social{
  width:30%;
}
#LastName,
#FirstName,select,
#Mail,#date,
#TextArea,#city {
min-width: 60%;
height:100%;
padding: 0.6em;
margin: 0em 2em 1em 0;
box-sizing: border-box;
font-weight: 900;
font-size: 1rem;
text-align: center;
color: white;
background-color: rgba(255, 255, 255, 0);
border: none;
border-bottom: 2px dotted rgba(255,255,255,0.72) ;
outline: none;
}
::placeholder {
color:goldenrod;
opacity: 20%;
font-size: 1rem;
text-align: center;
}

#TextArea::placeholder {
font-size: 1.5rem;
}
#TextArea {
border: 2px solid white;
width:100%;
height:100%;
}

.Mail-home button a {
text-decoration: none;
}

.Mail-home button:hover,
.Mail-home button:focus {
color: black;
background-color: #d2b11e46;
}
label{
font-size: 1.2rem;
color: white;
float: left;
}
.fa-check-square{
color:goldenrod;
}
option{
font-size: 1.2rem;
color: black;
}
select, #date{
padding: 0.2em;
border: none;
color:black;
height: 40px;
background-color:rgba(218, 165, 32, 0.691);
}


.top{
display: flex;
opacity: 100%;
flex-direction: row;

}
.fa-chevron-up {
background-color:goldenrod;
opacity: 100%;
font-size:2rem;
text-align: center;
color: black;
position: fixed;
left:0;
bottom:0px;
animation: bounce 2s infinite;
height: 5rem;
width: 5rem;
border-radius: 50%;
box-shadow:2px 2px 2px black;

}

.menu-text{
visibility: hidden;
}

.tech{
  color: #4e4e4e;
}


/* Footer */

footer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  color: #8a8a8a;
  background-color: rgba(0, 0, 0, 0.425);
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}


/*Forgotten */
.btn nav-link{

margin-top:0.5rem;}
/* Responsive Design */


@media (max-width:1000px) 
{
  .tier-item
  {width:80%;
    margin:2rem 0;
}

  .contact-wrapper{
  margin-left:0;}
}
 .about{
     margin:0;
}
  .about .container {
  margin: 0;
  margin-left:3rem;
  }
@media (max-width: 750px) {

   #load img {
     margin:20px;}
  .main-message h3 {
    font-size: 3rem;
  }

  .card-img .iconify{
    height: 90px;
    width: 90px;
    margin:2rem;
  }

  .about .container {
  margin-left:2rem;
  }
  .about-text-box{
    margin:1rem;
    margin-top:5em;
     margin-bottom:5em;
    padding:0;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 2px 30px 0 rgba(95, 158, 160, 0.075);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {

  .fa-chevron-up{
    height:3rem;
    width:3rem;
  }
  .about .container { 
    max-width: 100%;
    margin: 0;
    }
    .about-text-box{
      text-align:start;
      margin:1rem;
       margin-top:5em;
       margin-bottom:5em;
      padding:0;
    }

.Mail-home h2{
  font-size:1.6rem ;
}
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  
  .main-message p {
    font-size: 1.3rem;
    line-height: 4rem;
  }
  .btn, .btn2 {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .btn:hover,.btn2:hover{
    padding:1.3rem;
  }

  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }
  .services{margin: 0;
  margin-top: 4em;
}

  .service-tiers{
    flex-direction: column;
    margin: 0;
  }
  .tier-item
  {width:100%;
  max-width: 100%;
  text-align: start;
  margin:4rem 0;
}
  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

 .contact-wrapper{
   flex-direction: column;
 }
 .Mail-home{
   width:100%;
 }
 .social{
   width: 100%;
   display:flex;
   flex-wrap: wrap;
   margin:2rem;
 }
 .social h2{
   margin:0.6rem;
 }
  footer,
  footer p {
    font-size: 1.2rem;
  }
}
